{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% static 'maintenance/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'maintenance/css/bootstrap-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'maintenance/css/datepicker-bs5.min.css' %}">
  <link rel="stylesheet" href="{% static 'maintenance/css/maintenance.css' %}">
  {% block extra_css %}{% endblock %}
  <link rel="stylesheet" href="{% static 'css/project.css' %}">
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<main class="container-fluid">
  {% if user.is_authenticated %}
    <div class="row">
      {% include 'navbar/navbar.html' %}
    </div>
  {% endif %}
  {% if subtitle %}
    <div id="welcome" class="row pt-4 pb-3">
      <div class="col-lg-6 fs-3 h1">{{ subtitle }}</div>
      <div class="col-lg-6 d-flex justify-content-end" id="extra-buttons">
        {% block extra-buttons %}{% endblock extra-buttons %}
      </div>
    </div>
  {% endif %}
  {% if user.is_authenticated %}
    {% block filters %}{% endblock filters %}
  {% endif %}
  {% block content %}{% endblock content %}
</main>
{% block footer %}{% endblock footer %}
<script src="{% static 'maintenance/js/vendor/htmx.min.js' %}"></script>
<script src="{% static 'maintenance/js/vendor/sweetalert2.js' %}"></script>
<script src="{% static 'maintenance/js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'maintenance/js/vendor/datepicker-full.min.js' %}"></script>
<script src="{% static 'maintenance/js/vendor/es.js' %}"></script>
<script src="{% static 'maintenance/js/vendor/inputmask.min.js' %}"></script>
{#<script src="{% static 'maintenance/js/vendor/color-mode.js' %}"></script>#}
{% block extra_js %}{% endblock %}
<script src="{% static 'js/project.js' %}"></script>
</body>
</html>

