<form hx-post="{{ request.path }}" class="modal-content"
      {% if upload_files %}hx-encoding="multipart/form-data"{% endif %}>
  <div class="modal-header">
    <h5 class="modal-title">{{ modal_title }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row g-1 pt-2">
      {% if form_show %}
          {{ form }}
        {% endif %}
        {% if form_accordion_enable %}
          <div class="col-12 mb-2">
            <div class="accordion" id="accordion-form">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button {% if not form_accordion_show %}collapsed{% endif %}"
                    type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-accordion-form"
                    aria-expanded="{{ form_accordion_show|yesno:"true,false" }}"
                    aria-controls="collapse-accordion-form">
                    {% block form_accordion_title %}
                      Instrucciones para el archivo Excel
                    {% endblock form_accordion_title %}
                  </button>
                </h2>
                <div id="collapse-accordion-form"
                     class="accordion-collapse collapse {% if form_accordion_show %}show{% endif %}"
                     data-bs-parent="#accordion-form">
                  <div class="accordion-body row">
                    <table class="table table-sm border-1 mt-3">
                      <thead class="table-light">
                      <tr>
                        {% block form_accordion_headers %}
                          <th>#</th>
                          <th>Nombre de columna</th>
                          <th>Consideraciones</th>
                        {% endblock form_accordion_headers %}
                      </tr>
                      </thead>
                      <tbody>
                      {% block form_accordion_body %}{% endblock form_accordion_body %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    {% include "maintenance/components/buttons.html#modal-cancelar" %}
    {% if not modal_readonly %}
      {% include "maintenance/components/buttons.html#modal-enviar" %}
    {% endif %}
  </div>
</form>
