{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'maintenance/css/base.css' %}">
{% endblock extra_css %}

{% block extra-buttons %}
  {% with button_no_text=False %}
    {% if user_can.add %}
      {% include "maintenance/components/buttons.html#add" %}
    {% endif %}
    {% if user_can.import %}
      {% include "maintenance/components/buttons.html#import" %}
    {% endif %}
    {% if user_can.export %}
      {% include "maintenance/components/buttons.html#export" %}
    {% endif %}
  {% endwith %}
{% endblock extra-buttons %}

<div class="row">
  {% include "maintenance/forms/non_field_errors.html" %}
</div>
<div class="row mb-1 mb-lg-0">
  {% block filters %}
    <form class="col-md-6 col-lg-8" id="search-filters">
      {{ form.param }}
    </form>
  {% endblock filters %}
  <div id="search-indicator">
    {% include 'maintenance/components/icons.html#searching' %}
  </div>
</div>

{% block content %}
  <div class="modal fade" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"
       aria-labelledby="Creación/Edición" aria-hidden="true" id="modal-form">
    <div class="modal-dialog modal-fullscreen-lg-down {{ modal_size }} modal-dialog-scrollable"
         id="modal-form-dialog" hx-target="this">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {% include list_template %}
    </div>
  </div>
{% endblock %}
{% block extra_js %}
  <script src="{% static 'maintenance/js/common.js' %}"></script>
  <script src="{% static 'maintenance/js/maintenance.js' %}"></script>
{% endblock extra_js %}
