{% if is_related and user_can.add %}
  <div class="row p-0 m-3">
    <div class="col-12 text-start">
      {% include "maintenance/components/buttons.html#add" %}
    </div>
  </div>
{% endif %}

<div class="row p-0" id="search-results{{ related_tag }}">
  <div class="col-12 table-responsive">
    <table class="table {% if not is_related %}table-hover{% endif %} border-1">
      <thead class="table-light">
      <tr>
        {% for header in header_list %}
          <th>{{ header }}</th>
        {% endfor %}
        <th class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>
      {% for row in row_list %}
        {% with object=row.object %}
          <tr>
            {% for data in row.data %}
              <td class="align-middle {{ data.class }}">
                {% if data.value == 'True' or data.value == 'False' %}
                  {% with value=data.value %}
                    {% include "maintenance/components/icons.html#true-false" %}
                  {% endwith %}
                {% else %}
                  {{ data.value }}
                {% endif %}
              </td>
            {% endfor %}
            {% include "maintenance/base/list_actions.html" %}
          </tr>
        {% endwith %}
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% if not is_related %}
    {% include "maintenance/components/pagination.html" %}
  {% endif %}
</div>
