<div class="row p-0" id="search-results">
  <div class="col-12 table-responsive pe-1">
    <table class="table table-hover border-1">
      <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha creación</th>
        <th>Activo</th>
        <th class="text-center">Acciones</th>
      </tr>
      </thead>
      <tbody>
      {% for object in page_obj.object_list %}
        <tr>
          <td class="align-middle">{{ object.pk }}</td>
          <td class="align-middle">{{ object.name }}</td>
          <td class="align-middle">{{ object.create_date }}</td>
          <td class="align-middle">
            {% with value=object.is_active %}
              {% include "maintenance/components/icons.html#true-false" %}
            {% endwith %}
          </td>
          <td class="align-middle text-end">
            {% if object.is_active %}
              {% if user_can.edit %}
                {% include "maintenance/components/buttons.html#base-edit" %}
              {% else %}
                {% include "maintenance/components/buttons.html#base-read" %}
              {% endif %}
              {% if user_can.delete %}
                {% include "maintenance/components/buttons.html#base-delete" %}
              {% endif %}
              {% if user_can.history %}
                {% include "maintenance/components/buttons.html#base-history" %}
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% include "maintenance/components/pagination.html" %}
</div>
